
.btn-navbar {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    border-radius: 12px;
    box-shadow: 0px 4px 6px #00FFFF;
    transition: all 0.3s ease;
  }
  
  .btn-navbar:hover {
    background-color: #1976d2;
    transform: scale(1.05);
  }
  .btn-navbar:active {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .button {
    width: 100%;
    min-width: 150px;
    max-width: 270px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 6px #00FFFF;
    white-space: normal;
    word-wrap: break-word;
    
  }

  .btnAboutMe {
    padding: 12px 24px;
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(to right, #111827, #06b6d4, #111827);
    width: 100%;
  
    &:hover {
      transform: scale(1.05);
      background: linear-gradient(to right, #0891b2, #1e293b, #0891b2);
    }
  
    @media (min-width: 640px) {
      width: auto;
    }
  }
  
  
  .button:hover {
    background: linear-gradient(45deg, #000000, #222324);
    transform: scale(1.05);
}

  @media (min-width: 600px) {
    .button {
      width: "100%";
      min-width: 200px;
      max-width: 320px;
    }
  }

  