
.btn-navbar {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    border-radius: 12px;
    box-shadow: 0px 4px 6px #00FFFF;
    transition: all 0.3s ease;
  }
  
  .btn-navbar:hover {
    background-color: #1976d2;
    transform: scale(1.05);
  }
  .btn-navbar:active {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .button {
    width: 100%;
    min-width: 150px;
    max-width: 270px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 6px #00FFFF;
    white-space: normal;
    word-wrap: break-word;
    
  }

  .button:hover {
    background: linear-gradient(45deg, #000000, #222324);
    transform: scale(1.05);
}

  @media (min-width: 600px) {
    .button {
      width: "100%";
      min-width: 200px;
      max-width: 320px;
    }
  }